<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'user_info', book: @book, user: @user %>
    
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <td>
            <%= link_to user_path(@idbook.user_id) do %>
              <%= image_tag(@idbook.user.get_profile_image(100, 100)) %></br>
              <%= @idbook.user.name %>
            <% end %>
          </td>
          <td><%= link_to @idbook.title, book_path(@idbook.id) %></td>
          <td><%= @idbook.body %></td>
          <% if @idbook.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@idbook.id), :class => "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', destroy_book_path(@idbook.id),
              method: :delete, 'data-confirm' => "本当に消しますか？", :class => "btn btn-sm btn-danger" %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
